html {
	font-size: 24px;
}

body {
	width: fit-content;
	text-align: center;
	font-family: Verdana, sans-serif;
	/*	margin: 0.75rem 1.5rem;*/
	margin: 1rem 1.75rem 1.1em;
}

h1 {
	margin-top: 0;
	font-size: 1.67em;
	font-weight: bold;
	letter-spacing: 0.068em;
	margin-bottom: 0.375em;
	font-family: Arial, sans-serif;
}

h1 span {
	position: relative;
	top: 1px;
	font-size: 38px;
}

[disabled] h1 {
	opacity: 0.5;
	text-decoration: line-through;
	/*	filter: blur(1px);*/
}

button {
	display: block;
	width: 90%;
	margin: .25rem auto !important;
	font-size: .65rem;
	font-weight: 600;
}

.disabled {
	margin-top: -2em;
	color: red;
	font-size: 1.05em;
	position: absolute;
	left: 50%;
	translate: -50% 0;
	display: none;
	border-radius: 0.25em;
	background: hsla(0, 0%, 100%, .5);
	/*	width: 100%;*/
}

.disabled span {
	padding: 0 .25em;
	font-weight: 600;
}

[disabled] .disabled {
	/*	display: unset;*/
}

label {
	display: block;
	width: 85%;
	text-align: left;
	margin: .5em auto;
	font-size: 0.75em !important;
	display: flex;
	align-items: center;
	gap: .5em
}

/* Firefox only */
@supports (-moz-appearance:none) {
	label input {
		position: relative;
		top: 1px;
	}
}

button {
	border: solid 1px #aaa !important;
	color: #333;
	height: 1.5em;
	border-radius: .25em;
	display: flex;
	align-items: center;
	justify-content: center;
}

label span {
	position: relative;
}

@media (prefers-color-scheme: dark) {

	html {
		background: rgb(52, 53, 56);
		color: #ddd;
	}

	h1 {
		color: white;
	}

	label {
		color: #eee;
	}

	th {
		color: white;
		font-weight: normal;
	}

	.disabled span {
		color: rgb(252, 87, 84);
	}

	button {
		background-color: rgb(32, 33, 36) !important;
		border: solid 1px #777 !important;
		color: #ddd;
	}
}

/* Icons */

#icon-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
}

#icon-settings > * {
	cursor: pointer;
	padding: .2em;
	border: 2px solid rgba(0, 0, 0, 0);
	/*	border-color: red;*/
	border-radius: .4em;
}

#icon-settings img {
	max-height: 1em;
}

#icon-settings span {
	font-size: .9em !important;
}
